/SFML.vcxproj
/SFML.vcxproj.filters
/SFML.vcxproj.user
GameController.obj
GameObject.obj
SFML.exe.recipe
SFML.ilk
SFML.log
SFML.obj
CL.command.1.tlog
CL.read.1.tlog
CL.write.1.tlog
SFML.lastbuildstate
link.command.1.tlog
link.read.1.tlog
link.write.1.tlog
main.obj
vc142.idb
vc142.pdb
SFML.iobj
SFML.ipdb
